*{
	box-sizing: border-box;
}
body{
	background-color: darkcyan;
}
div{}
h2{
	background-color: white;
	width: 15%;
	position: absolute;
}
p{
	float: right;
	background-color: powderblue;
	position: relative;
	border: 5px solid white;
	width: 30%;
	padding: 10px;
	margin: 5px;
	height: 40%;
}
h1{
	text-align: center;
	font-size: 30px;
	color: cornsilk;
}